.Axis path,
.Axis line {
  stroke: #EFEFEF;
  stroke-width:2;
}

.Axis text {
  font-size: 16px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.line path {
  fill: transparent;
  stroke: rgba(155,155,155,0.8);
  stroke-width: 4;
}
